@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  color: #636363;
}

*:hover{
  color: #272727;
}

body{
  background: #efefef;
}

.content{
  margin: 5%;
}

.main-content{
  height: 70vh;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

span.symbol{
  font-size: 40px;
  margin-left: 10px;
}

p.title{
  font-size: 50px;
  font-family: 'Cutive Mono', monospace;
  line-height: 80px;
}

.title > img.logo{
  height: 50px;
  grayscale: 1;
}

.links > li > a{
  font-size: 24px;
  margin-top: 21px;
}

a, a:visited{
  color: #636363;
}

a:hover{
  color: #272727;
}

footer{
  font-family: 'Cutive Mono', monospace;
  height: 20vh;
  text-align: center;
  font-size: 18px;
}

ul{
  list-style: none;
}

p.bio{
  margin-bottom: 5px;
}

.bio > a{
  color: black;
  font-weight: bold;
}

.bio > h1{
  font-family: 'Cutive Mono', monospace;
  font-size: 27rem;
}

@media screen and (max-width:768px){
  p.title{
    margin-top: 5vh;
  }
  .main-content{
    height: 70vh;
  }
  footer{
    height: auto;
  }
}
