@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: white;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

span.symbol{
	font-size: 40px;
	margin-left: 10px;
}

p.title{
	font-size: 100px;
	font-family: Helvetica;
	text-align: center;
	color: white;
	background: #E3499A;
	padding-top: 20%;
	line-height: 80px;
    text-shadow: -3px 0 #E3499A, 0 3px #E3499A, 3px 0 #E3499A, 0 -3px #E3499A;
}

hr{
	border-bottom: 1px solid #FAFAFA;
	width: 90%;
	margin: 0 auto;
}

p.links{
	font-size: 30px;
	margin-top: 21px;
	text-align: center;
	color: #E3499A;
}

a, a:visited, a:hover{
	color: #E3499A;
}

footer{
	font-family: Helvetica;
	margin-top: 15%;
	text-align: center;
	font-size: 16px;
	color: #E3499A;
}

@media screen and (max-width:768px){
	p.title{
		margin-top: 50%;
	}
  	footer{
  		margin-top: 40%;
	}
}

ul{
	list-style: none;
}